---
title: Sign up
slug: sign-up
handle: sign_up
position: 1
listed: false
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block main %}
{% if current_account %}
<div class='alert alert-warning'>
  <h2 class='w3-center w3-red'>{{ 'auth' | translate }}</h2>
</div>
{% else %}
<form action='{% path_to 'sign_up' %}' class='w3-container w3-card-4' method='POST'>
  <input name='auth_action' type='hidden' value='sign_up'>
  <input name='auth_content_type' type='hidden' value='accounts'>
  <input name='auth_id_field' type='hidden' value='email'>
  <input name='auth_password_field' type='hidden' value='password'>
  <input name='auth_email_handle' type='hidden' value='welcome_message'>
  <input name='auth_disable_email' type='hidden' value='true'>
  <input name='auth_callback' type='hidden' value='{% path_to index %}'>
  <input name='auth_entry[ip]' type='hidden' value='{{ ip_address }}'>
  {% if auth_invalid_entry %}
  <h2 class='w3-center w3-red'>{{ 'sorr' | translate }}</h2>
  {% endif %}
  <label for='auth-name'>{{ 'name' | translate }}</label>
  <input class='w3-input' id='auth-name' name='auth_entry[name]' type='text' value='{{ auth_entry.name }}'>
  {% if auth_entry.errors.name.size &gt; 0 %}
  <div class='w3-red'>&nbsp;{{ auth_entry.errors.name.first | capitalize }}</div>
  {% endif %}
  <label for='auth-email'>{{ 'mail' | translate }}</label>
  <input class='w3-input' id='auth-email' name='auth_entry[email]' type='email' value='{{ auth_entry.email }}'>
  {% if auth_entry.errors.email.size &gt; 0 %}
  <div class='w3-red'>&nbsp;{{ auth_entry.errors.email.first | capitalize }}</div>
  {% endif %}
  <label for='auth-password'>{{ 'pass' | translate }}</label>
  <input class='w3-input' id='auth-password' name='auth_entry[password]' type='password'>
  {% if auth_entry.errors.password.size &gt; 0 %}
  <div class='w3-red'>&nbsp;{{ auth_entry.errors.password.first | capitalize }}</div>
  <br>
  {% endif %}
  <label for='auth-password'>{{ 'pasc' | translate }}</label>
  <input class='w3-input' id='auth-password' name='auth_entry[password_confirmation]' type='password'>
  {% if auth_entry.errors.password_confirmation.size &gt; 0 %}
  <div class='w3-red'>&nbsp;{{ auth_entry.errors.password_confirmation.first | capitalize }}</div>
  <br>
  {% endif %}
  <button class='w3-margin-top w3-margin-bottom w3-button w3-red w3-ripple' type='submit'>{{ 'siup' | translate }}</button>
</form>
<br>
{% endif %}
{% endblock %}