---
title: Sign in
slug: sign-in
handle: sign_in
position: 0
listed: false
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block main %}
<form action='{% path_to 'sign_in' %}' class='w3-container w3-card-4' method='POST'>
  <input name='auth_action' type='hidden' value='sign_in'>
  <input name='auth_content_type' type='hidden' value='accounts'>
  <input name='auth_id_field' type='hidden' value='email'>
  <input name='auth_password_field' type='hidden' value='password'>
  <input name='auth_callback' type='hidden' value='{% path_to me %}'>
  {% if auth_wrong_credentials %}
  <div class='alert alert-warning'>
    <h2 class='w3-center w3-red'>{{ 'wcre' | translate }}</h2>
  </div>
  {% endif %}
  <div class='form-group'>
    <br>
    <label for='auth-email'>{{ 'mail' | translate }}</label>
    <input class='w3-input' id='auth-email' name='auth_id' placeholder='{{ 'mail' | translate }}' type='email' value='{{ params.auth_id }}'>
  </div>
  <div class='form-group'>
    <label for='auth-password'>{{ 'pass' | translate }}</label>
    <span>
      <a href='{% path_to 'forgot_password' %}'>{{ 'forg' | translate }}</a>
    </span>
    <input class='w3-input' id='auth-password' name='auth_password' placeholder='{{ 'pass' | translate }}' type='password' value=''>
  </div>
  <button class='w3-margin-top w3-margin-bottom w3-button w3-red w3-ripple' type='submit'>{{ 'siin' | translate }}</button>
</form>
<br>
{% endblock %}